<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Hello!</title>
    </head>
    @s
    <body>
        <a href="signup.cshtml">Sign up!</a>
        <hr/>
        <img src="dupont.jpg" alt="dupont circle, d.c." width="320" height="280" />
    </body>
</html>
