<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Search Results</title>
    </head>
    <body>
        You are searching for .... @Request.QueryString["q"]
    </body>
</html>