<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Signed Up!!</title>
    </head>
    <body>
        You signed up!
        @Session["firstName"] @Session["lastName"]
    </body>
</html>
